<h1>bluedit: the back page of the internet</h1>

<% @subs.each do |sub| %>
  <h2><%= link_to "b/#{sub.title.downcase}", sub_url(sub), method: :get %></h2>
  <% if sub.mod_id == current_user.id %>
  <%= link_to "Delete sub-bluedit", sub_url(sub), method: :delete %>
  <% end %><br>
<% end %>
<br>
<h3><%= link_to "Create a new sub-bluedit", new_sub_url, method: :get %></h3>
